<%- include("partials/header"); -%>
<div class="box">
    <form action="/" method="POST" class="input">

        <input type="text" id="cityInput" name="cityName" placeholder="City Name" autocomplete="off" /><br>
        <button type="submit">go</button>

    </form>
</div>
<%- include("partials/footer"); -%>